* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: white;
    padding: 15px 40px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.nav a:hover {
    color: #f39c12;
}

.cart {
    font-size: 20px;
}


.hero {
    background: linear-gradient(to right, #1f1c2c, #928dab);
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero button {
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    background: #f39c12;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.hero button:hover {
    background: #e67e22;
}


.products {
    padding: 40px;
    background: #f4f4f4;
    text-align: center;
}

.products h2 {
    margin-bottom: 30px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    color: #27ae60;
    font-weight: bold;
}

.card button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #111;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.card:hover {
    transform: translateY(-5px);
}


.footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}